.video-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;

  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;

  padding: 0 rem(40);

  &--open {
    pointer-events: auto;
    opacity: 1;
  }

  &__close-icon {
    position: absolute;
    top: rem(24);
    right: rem(24);
    cursor: pointer;
  }

  iframe {
    max-width: 100%;
  }
}
